.orange-bg{
    background-color:#fceae8;
    border-radius: 5px;
    margin-top: 2rem;
    padding: 10px;
}
.col{
    padding-top: 10%;
    padding-left: 7%;
}
.h4{
    color: deeppink;
}
p{
    font-size: 13px;
    padding-top:7px;
}
button{
    background-color: deeppink;
    border-style:outset;
    border:2px solid #f0f0f0;
    border-radius: 10px;
    color: #f5f5f5;
    margin-top: 12px;
    padding: 2%;
}
.categories{
   margin-top:2.5rem;
}
.cat-1,.cat-2,.cat-3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat-1{
    background:linear-gradient(to right,#0C2091,#4e5993);
}
.cat-2{
    background:linear-gradient(to right,#A30B3E,#C26E8A);
}
.cat-3{
    background:linear-gradient(to right,#DE7921,#E3AE7F
);
}
.categories h2{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow:5px 5px 10px gray;
}
#subscribe{
    height: 250px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}